services:
  web:
    container_name: awoof-frontend
    build: ../apps/web
    ports:
      - "3000:3000"
    env_file:
      - .env
    # depends_on:
    #   - backend

  backend:
    build: ../apps/backend
    # image: quadlcore/awoof-backend
    container_name: awoof-backend
    user: "node"
    working_dir: /usr/src/app
    environment:
      - NODE_ENV=production
      - PORT=5000
      - DATABASE_URL=postgresql://root:root@db:5432/awoofDB
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=awoofDB
      - DB_USER=root
      - DB_PASSWORD=root
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    ports:
      - "5001:5000"
    depends_on:
      - db
      - redis
    env_file:
      - ../apps/backend/.env

  db:
    container_name: Awoof_postgres_container
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: awoofDB
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    container_name: Awoof_redis_container
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

  pgadmin:
    container_name: Awoof_pgadmin4_container
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  db_data:
  redis_data:
